exportPattern("^[[:alpha:]]+")
import(tidyverse)
import(data.table)
importFrom(DiGGer,ibDiGGer)
importFrom(DiGGer,getDesign)
importFrom(DiGGer,corDiGGer)
importFrom(DiGGer,desPlot)
import(asreml)
importFrom(openxlsx, read.xlsx)
importFrom(openxlsx, write.xlsx)
import(doParallel)
importFrom(fs, dir_ls)
import(pastecs)
importFrom(magick, image_join)
importFrom(magick, image_scale)
importFrom(magick, image_write)
importFrom(lme4, lmer)
importFrom(lme4, ranef)
importFrom(lme4, lmerControl)
importFrom(lucid, vc)
import(parallel)
import(foreach)
